@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family:'Teko', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  
  
}

body {
 

 z-index: -1;
  
  
}




